  <tr><td><a href="&lt;ichain/&gt;"><ichain/></a>
  <if instnode=""><main_/><span>Failed on <a href="&lt;instnode/&gt;"><instnode/></a></span></if>
  <div class="date">[<date/>]</div></td>
  <td><if instnode="">
     <span class="alert alert-success">OK</span>
     <span class="alert alert-error">KO</span>
  </if>
  </td>
  </tr>
