<div>
<form class="form-horizontal">
 <fieldset>
   <div class="control-group">
    <label for="input" class="control-label">Input</label>
    <div class="controls">
      <select name="input" onChange="onChange(the_input, this)">
       <option value=""></option>
       <input_options/>
<!--
       <option value="test1">Test1</option>
       <option value="test2">Test2</option>
-->
      </select>
    </div>
   </div>
   <div class="control-group">
    <label for="chainname">Chain</label>
    <div class="controls">
     <select name="chainname" onChange="onChange(the_chain, this)">
      <option value=""></option>
      <chain_options/>
<!--
      <option value="http://localhost:8082/chains/Altergo/prove">Altergo.prove</option>
      <option value="http://localhost:8082/flat-chains/Altergo/prove/b92e549ca7e01f91c90eb56ef51a482dc2d72aa0">&#160;&#160;b92e549ca7e01f91c90eb56ef51a482dc2d72aa0</option>
      <option value="http://localhost:8082/chains/Why3/split_altergo">Why3.split_altergo</option>
      <option value="http://localhost:8082/chains/Why3/prove_with_ae">Why3.prove_with_ae</option>
-->
     </select>
    </div>
   </div>
   <div class="control-group">
     <label for="toolaltergo">Altergo</label>
     <div class="controls">
      <select name="toolaltergo" onChange="onToolChange('altergo', this)">
       <option value=""></option>
       <option value="http://localhost:8082/tools/altergo/versions/0.94">0.94</option>
      </select>
     </div>
   </div>
   <div class="control-group">
     <label for="toolwhy3">Why3</label>
     <div class="controls">
      <select name="toolwhy3">
       <option value=""></option>
  <option value="http://localhost:8082/tools/why3/versions/15515d3efeeca8d2af20c99db75d6681edac610a">15515d3efeeca8d2af20c99db75d6681edac610a</option>
      </select>
     </div>
   </div>
 </fieldset>
  <div class="alert alert-info" id="query"> </div>
  <output name="result" for="input chainname toolaltergo toolwhy3">
    <div id="qresult"/>
  </output>
</form>
</div>
