<div class="ichain-digest">
<div class="ichain-url"><a href="&lt;ichain/&gt;"><ichain/></a></div>
<div class="ichain-details">
  <div class="ichain-date">Generated on <date/></div>
  <div class="ichain-fchain">Execution of <a href="&lt;fchain/&gt;"><fchain/></a></div>
  <div class="ichain-input">Input: <input/></div>
  <div class="ichain-tools">Tools: <tools/></div>
</div>
</div>