<div>
<form class="form-horizontal">
 <fieldset>
   <div class="control-group">
    <label for="input" class="control-label">Input</label>
    <div class="controls">
      <select name="input" id="input" onChange="onChange(the_input, this, true)">
       <option value=""></option>
       <input_options/>
      </select>
    </div>
   </div>
   <div class="control-group">
    <label for="chainname">Chain</label>
    <div class="controls">
     <select name="chainname" id="chainname" onChange="onChange(the_chain, this, true)">
      <option value=""></option>
      <chain_options/>
     </select>
    </div>
   </div>
   <tools/>
 </fieldset>
  <output name="result" for="input chainname toolaltergo toolwhy3">
    <div id="qresult"> </div>
  </output>
  <!--<div class="alert alert-info" id="query"> </div>-->
</form>
</div>
