<main_/>
<if show-form="true">
<form class="form-horizontal" action="&lt;action/&gt;" method="get">
  <fieldset>
   <div class="control-group">
    <label for="inst1" class="control-label short-label">Url 1 :</label>
    <div class="url-controls">
      <input class="url-input" type="text" name="inst1" id="inst1" value="&lt;inst1/&gt;"/>
    </div>
    <digest1/>
   </div>
   <div class="control-group">
    <label for="inst2" class="control-label short-label">Url 2 :</label>
    <div class="url-controls">
      <input class="url-input" type="text" name="inst2" id="inst2" value="&lt;inst2/&gt;"/>
    </div>
    <digest2/>
   </div>
   <div class="control-group">
    <label for="diffcmd" class="control-label">Diff command :</label>
    <div class="controls">
      <input type="text" name="diffcmd" id="diffcmd" value="&lt;diffcmd/&gt;"/>
    </div>
   </div>
   <div class="control-group">
     <input type="submit" value="Show diffs"/>
   </div>
 </fieldset>
</form>
<div>
  <digest1/>
  <digest2/>
</div>
</if>
<output name="result">
  <p>Diff command : <icode defer_="1"><diffcmd/></icode></p>
  <pre><diff/></pre>
  </output>
</main_>
