<section title="Type">
<type/>
</section>

<section title="Command path">
<if path="">
<p>The path of the command associated to the interface is not defined yet.</p>
<p>Path of the associated command: <icode defer_="1"><path/></icode></p>
</if>
</section>

<section title="Context">
<p>This interface is part of the tool <tool/>.</p>
<if branches_yes="">
  <span> </span>
  <div><p>It is implemented by the following branches or versions:</p>
    <branches_yes/>
  </div>
</if>
<if branches_no="">
  <span> </span>
  <div><p>It is explictely not implemented by the following branches or versions:</p>
    <branches_no/>
  </div>
</if>
</section>
