<section title="Explicit interfaces">
<p>
<if has_intfs="">
<span>No interface explicitly implemented.</span>
<div><intfs/></div>
</if>
</p>
</section>

<section title="Interfaces explicitly not implemented">
<p>
<if has_intfs_no="">
<span>No interface explicitly not implemented.</span>
<div><intfs_no/></div>
</if>
</p>
</section>

<section title="Inherited interfaces">
<p>
<if has_inherited_intfs="">
<span>No inteface inherited from parents.</span>
<div><inherited_intfs/></div>
</if>
</p>
</section>