<if has_intfs="">
<main_/>
<section title="Explicit interfaces">
<p>
<div><intfs/></div>
</p>
</section>
</if>

<if has_intfs_no="">
<main_/>
<section title="Interfaces explicitly not implemented">
<p>
<div><intfs_no/></div>
</p>
</section>
</if>

<if has_inherited_intfs="">
<main_/>
<section title="Inherited interfaces">
<p>
<div><inherited_intfs/></div>
</p>
</section>
</if>
